@import '../../utils';

.components-discList {
    @include flexCenterRow;

    .discList__search {
        margin-bottom: 20px;
        width: 300px;
    }

    .discList__listwrapper {
        width: 904px;
        margin: -10px;

        .components-discCard {
            margin: 10px;
        }
    }
}
    