// Media
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mediaMin($width) {
  @media (min-width: $width) {
    @content;
  }
}

// Flex
@mixin flex {
    display: flex;
}

@mixin flexCenterRow {
    @include flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceAround {
    @include flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexSpaceBetween {
    @include flex;
    justify-content: space-between;
    align-items: center;
}

// General
@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }